@use '../../styles/sass/variables' as *

//font Regular
@font-face
  font-family: $poppins
  src: local($font-family-name $font-src-regular), url($font-url-regular) format($font-format)
  font-weight: 400

//font Medium
@font-face
  font-family: $font-family-medium
  src: local($font-family-name $font-src-medium), url($font-url-medium) format($font-format)
  font-weight: 500

//font SemiBold
@font-face
  font-family: $font-family-semi-bold
  src: local($font-family-name $font-src-semi-bold), url($font-url-semi-bold) format($font-format)
  font-weight: 600

//font Bold
@font-face
  font-family: $font-family-bold
  src: local($font-family-name $font-src-bold), url($font-url-bold) format($font-format)
  font-weight: 700
