//media queries variables
$mobile : 'only screen and (max-width: 767px)'
$tablette : 'only screen and (max-width: 991px)'
$desktop : 'only screen and (min-width: 992px)'

//fonts names
$font-family-name: Poppins //multi use
$poppins : Poppins
$font-family-medium : Poppins-Medium
$font-family-semi-bold : Poppins-SemiBold
$font-family-bold : Poppins-Bold

//fonts src
$font-src-regular : Regular
$font-src-medium : Medium
$font-src-semi-bold : SemiBold
$font-src-bold : Bold

//fonts url
$font-url-regular : '/assets/fonts/Poppins-Regular.ttf'
$font-url-medium : '/assets/fonts/Poppins-Medium.ttf'
$font-url-semi-bold : '/assets/fonts/Poppins-SemiBold.ttf'
$font-url-bold : '/assets/fonts/Poppins-Bold.ttf'

//fonts format
$font-format : 'truetype'
