@use '@/styles/sass/variables' as *
@use '@/styles/sass/colors' as *
@use '@/styles/sass/mixins' as *

// Global styles
.button
  +SemiBold
  font-size: 11px
  background-color: $white
  color: #525256 !important
  width: 100% !important
  text-transform: none !important
  border-radius: 50px !important
  &:hover
    background-color: rgba(0, 0, 0, 0.1) !important
// @media #{}
// @media #{}
// @media #{}
