@use '@/styles/sass/variables' as *
@use '@/styles/sass/colors' as *
@use '@/styles/sass/mixins' as *

// Global styles
.rootStack
  width: 50% !important
  margin: 0 auto !important
.alert
  +Regular
  color: $primary !important
  width: 100% !important
  display: flex !important
  flex-direction: row !important
  align-items: center !important
.alertIcon
  width: 24px !important
  height: 24px !important
// @media #{}
// @media #{}
// @media #{}
