@use '@/styles/sass/variables' as *
@use '@/styles/sass/colors' as *
@use '@/styles/sass/mixins' as *

// Global styles
.squareImageWrapper
  display: flex
  justify-content: center
  width: 360px
  height: 250px
  border: 2px dashed $blue
  border-radius: 30px
  background-color: white
  text-transform: none
  cursor: pointer
.addImagesSpan
  +Regular
  font-size: 17px
  color: $blue

//@media #{$tablette}
// @media #{}
// @media #{}
